
html {
  font-size: 18px;
}
body {
  margin: 0;
  --tab-height: calc(5rem);
  --blue: #91D2FA;
  --foreground: white;
  --background-tab: #202020;
  --background-modal: rgba(50, 50, 50, 0.5);
  --background-button: black;

  color: var(--foreground);
}
canvas {
  width: 100%;
  height: 100%;
}
button {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--foreground);
  border-radius: 0.3rem;
  cursor: pointer;
  color: var(--foreground);
  background-color: var(--background-button);
}
button:hover,
#modal-exit:hover {
  color: var(--background-button);
  background-color: var(--blue);
  cursor: pointer;
}
label {
  display: inline-block;
  width: 3rem;
  text-align: right;
}
input {
  font-size: 1rem;
  padding: 0.2rem;
  width: 3rem;
  text-align: center;
}
.bold,
.header {
  font-size: 1.2rem;
  font-weight: bold;
}
.row.header {
  margin-top: 2rem;
  text-decoration: underline;
}
.row.header:first-child{
  margin-top: 1rem;
}

#tab-container {
  z-index: 1;
  position: fixed;
  width: calc(20px + 2 * var(--tab-height));
  height: calc(20px + 1 * var(--tab-height));
  top: 0px;
  right: 0px;
  /*border: 10px solid pink;*/
}

#tab {
  cursor: pointer;

  position: fixed;
  height: var(--tab-height);
  padding: 0px 20px;
  top: calc(0px - var(--tab-height));
  right: 0px;

  color: var(--foreground);
  background-color: var(--background-tab);
  border: 2px solid var(--foreground);
  border-radius: 0px 0px 0px 10px;
  border-top-width: 0px;
  border-right-width: 0px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition-property: top;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#tab-container:hover #tab,
#tab.always-show {
  top: 0px;
}

#modal {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;

  transition-property: top;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#modal.hidden {
  top: -150%;
}
#modal div.hidden {
  display: none;
}
#modal-frame {
  position: relative;
  height: calc(100% - 50px);
  margin: 25px;

  text-align: center;
  font-size: 1rem;
  background-color: var(--background-modal);

  border: 2px solid var(--foreground);
  border-radius: 1rem 0rem 1rem 1rem;
  box-sizing: content-box;
}
#modal-exit {
  position: absolute;
  top: -2px;
  right: -2px;

  width: 2rem;
  height: 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--background-button);
  border: 2px solid var(--foreground);
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.row {
  width: 100%;
  margin: 1rem;
}
div.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
div.columns > div {
  width: 30%;
}

#texture-preview {
  height: 40%;
  width: auto;
  padding: 10%;
  border: 1px solid var(--foreground);
  border-radius: 0.5rem;
  background-color: rgba(128, 128, 128, 0.4);
}

#upload-button.hidden,
#upload-confirm.hidden {
  display: none;
}

.croppie-container {
  /*override*/
  width: auto;
  height: auto;
}

#social a {
  color: var(--blue);
}

@media (max-width: 400px){
  #tab-container,
  #modal {
    display: none;
  }
}
