
html {
  font-size: 18px;
}
body {
  margin: 0;
  --tab-height: calc(3rem);
  --blue: #91D2FA;
  --foreground: white;
  --background-tab: #202020;
  --background-modal: rgba(50, 50, 50, 0.5);
  --background-button: black;

  color: var(--foreground);
}
canvas {
  width: 100%;
  height: 100%;
}
button {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--foreground);
  border-radius: 0.3rem;
  cursor: pointer;
  color: var(--foreground);
  background-color: var(--background-button);
}
button:hover,
#modal-exit:hover {
  color: var(--background-button);
  background-color: var(--blue);
  cursor: pointer;
}
label {
  display: inline-block;
  width: 4rem;
  text-align: right;
}
input {
  font-size: 1rem;
  padding: 0.2rem;
  width: 4rem;
  text-align: center;
}

.row {
  width: 100%;
  margin: 1rem;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.column-child {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
}

.hidden {
  display: none;
}
.bold,
.header {
  font-size: 1.2rem;
  font-weight: bold;
}
.row.header {
  margin-top: 2rem;
  text-decoration: underline;
}
.row.header:first-child {
  margin-top: 1rem;
}
.title {
  font-size: 2rem;
  margin-bottom: 0px;
}

#tab-container {
  z-index: 1;
  position: fixed;
  width: calc(20px + 2 * var(--tab-height));
  height: calc(20px + 1 * var(--tab-height));
  top: 0px;
  right: 0px;
  /*border: 10px solid pink;*/
}

#tab {
  cursor: pointer;

  position: fixed;
  height: var(--tab-height);
  padding: 0px 20px;
  top: calc(0px - var(--tab-height));
  right: 0px;

  color: var(--foreground);
  border: 2px solid var(--foreground);
  border-radius: 0px 0px 0px 10px;
  border-top-width: 0px;
  border-right-width: 0px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition-property: top;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  animation-name: flash;
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes flash {
  from {
    background-color: rgb(0, 0, 0);
  }
  to {
    background-color: rgb(120, 120, 120);
  }
}

#tab-container:hover #tab,
#tab.always-show {
  top: 0px;
}

#modal {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: block;

  transition-property: top;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#modal.hidden {
  top: -150%;
}
#modal div.hidden {
  display: none;
}

#modal-mobile {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 40%;
  bottom: 0%;
  left: 0%;
  display: none;

  transition-property: bottom;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#modal-mobile.hidden {
  bottom: 100%;
}

.modal-frame {
  position: relative;
  height: calc(100% - 50px);
  margin: 25px;

  text-align: center;
  font-size: 1rem;
  background-color: var(--background-modal);

  border: 2px solid var(--foreground);
  border-radius: 1rem 0rem 1rem 1rem;
  box-sizing: content-box;
}
#modal-mobile .modal-frame {
  border-radius: 1rem;
}

#modal-upload.modal-body {
  justify-content: space-between;
}

#modal-exit {
  position: absolute;
  top: -2px;
  right: -2px;

  width: 2rem;
  height: 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--background-button);
  border: 2px solid var(--foreground);
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
#modal-mobile .modal-body {
  justify-content: space-around;
}

#texture-preview {
  height: 40vh;
  width: auto;
  padding: 5vh;
  border: 1px solid var(--foreground);
  border-radius: 0.5rem;
  background-color: rgba(128, 128, 128, 0.4);
}

#upload-button.hidden,
#upload-confirm.hidden {
  display: none;
}

.croppie-container {
  /*override*/
  width: auto;
  height: auto;
}

#social {
  font-size: 0.8rem;
  margin-top: 0px;
}
#social a {
  color: var(--blue);
  text-decoration: underline;
}

@media (max-width: 400px){
  #tab-container,
  #modal {
    display: none;
  }

  #modal-mobile {
    display: block;
}
